
//flex-box
$flXboX-p:100px;

$red: #ff0000;
$gray: #F9F8F8;
$dark-blu: #274C5B;
//text-color
$green: #7EB693;
$blu : #274C5B;
$white: #FFFFFF;
$gray-1 : #B8B8B8;
$gray-2 :#D4D4D4; 

//card-components
$card-pdd: 30px;
$card-br: 30px;
$card-mb:20px;

//card-type
$pdding: 5px 20px; 

//card-title
$cd__tl-pt: 0px;
$cd__tl-mt: 20px;
$cd__tl-mb: 10px;
$b-rds: 8px;

//card-footer
$card-ft-pt: 10px;




